{
    "guilds": {
        "123456789": {
            "role_id": 987654321,
            "valid_keys": [],
            "command": "openportal",
            "success_msg": "{user} has unlocked the {role}!"
        }
    }
}